<button
  (click)="sidenav.toggle()"
  mat-fab
  color="primary"
  class="menu-icon"
  aria-label="menu icon">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" fixedInViewport>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" [routerLink]="link.route">
        <span matListItemTitle >{{ link.description }}</span>
        <button mat-icon-button matListItemMeta>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="header">
      Goalification
    </mat-toolbar>

    <div class="body">
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="footer">
      <p class="footer-text">&copy; Copyright {{ getYear() }} by <a href="https://goalification.click">goalification.click</a></p>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
