<h1 mat-dialog-title>Create Goal</h1>


<div mat-dialog-content>
  <form [formGroup]="goalCreateForm" (ngSubmit)="submit()">
    <p>
      <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" name="name" formControlName="name">
        <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-form-field">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Fun user description..." name="description" formControlName="description"></textarea>
        <button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </p>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!this.goalCreateForm.valid">Create</button>
    </div>
  </form>
</div>


